body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header h3 {
    margin: 0;
}

nav {
    background-color: #555;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: #777;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.active{
    background-color: #333;
    text-decoration-line: underline;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    /* padding: 10px 0; */
    position: fixed;
    width: 100%;
    bottom: 0; 
}