body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    display: flex;
    align-items: center;
    
}

header h1 {
    display: inline;
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: center;
}

header h6 {

    margin: 2px;
}

.logo{
    width: 150px;
    height: 50px;
    border-radius: 50%;
    align-items: flex-start;
    justify-content: start;
    width: 50px; 
    margin-right: 10px; 
}
nav {
    background-color: #555;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: right;
    align-items: center;
}

nav {
    background-color: #555;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: #777;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.item:hover{
    background-color: #555;
    transition: 1s;
    
}

.item{
    background-color: white;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
}

.item img{
    max-width: 100%;
    height: auto;
}

.active{
    background-color: #333;
    text-decoration-line: underline;
}

.bn{
    display: flex;
    align-items: center;
}

.sb{
    background-color: #0de818;
}

.sb:hover{
    background-color: #208b25;
}
.container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 50px;
}
.btn{
    background-color: transparent;
    /* border: 1px solid #ddd; */
    margin: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    /* padding: 10px 0; */
    position: fixed;
    width: 100%;
    bottom: 0; 
}